apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionWebhookConfiguration
metadata:
  name: pvc-chonker-mutating-webhook-configuration
webhooks:
- name: mpvc.pvc-chonker.io
  clientConfig:
    service:
      name: pvc-chonker-webhook-service
      namespace: pvc-chonker-system
      path: "/mutate-v1-persistentvolumeclaim"
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURFekNDQWZ1Z0F3SUJBZ0lVWlZyVDIwUTBPYWlXWjVqclloUWV2dks5alRjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0dURVhNQlVHQTFVRUF3d09jSFpqTFdOb2IyNXJaWEl0WTJFd0hoY05NalV4TWpJM01Ea3pOREEwV2hjTgpNall4TWpJM01Ea3pOREEwV2pBWk1SY3dGUVlEVlFRRERBNXdkbU10WTJodmJtdGxjaTFqWVRDQ0FTSXdEUVlKCktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUpubmhWRHNnejVlRUZIWDAwWU1KNXlsbXU4N2c2Rm8KTTVvbDJXV2pLYStuWUVDamhTNlhhV1h5SDQwMGYvVTl3blFqd29jdWhqRFJQa0QxcFY5Wnp1eE5wTlRhclVYTgpQU2ZscU9vUnJ2YUNhSmJlZ0IvVG1sWUJwTmgyMFZPbXFjb3VTRVpxWS9UdWtjaHBWL056S3REN25LZEY0YVgvCmJkREV5b3BwamMrK1A2VEk5Sm1jVGVGa0w3WURIZllzVFVoSVN4VXJkcEZUc2R2WTU3dy82QWJLQU8zUndZUUsKdVc1STNuU2lUeFpTZWN5OW0xb1QzSlQ5VGJOdVJZVVFpOERxQWlpTmRyUFgxclhUTzZPRUcyR1VmczhGRGxRWAo4VlBQS01nbEdoNEZaWnhYc3hSOGxueVk3WEdKekFUSmFzYWlUMGFuVFJXWTBvNkhRUU80MC9rQ0F3RUFBYU5UCk1GRXdIUVlEVlIwT0JCWUVGS28zWU9ZYVNhUU0xS05qZHg5MW1HTnBuUkNRTUI4R0ExVWRJd1FZTUJhQUZLbzMKWU9ZYVNhUU0xS05qZHg5MW1HTnBuUkNRTUE4R0ExVWRFd0VCL3dRRk1BTUJBZjh3RFFZSktvWklodmNOQVFFTApCUUFEZ2dFQkFJcEhUNGxqQnFtaGRKVzJtQVgrRTRnR09IeXlCODNmSG55UHZJdXpFSk55dUFGcmNoQ3F2a1ozCmVvTGllaStJZG9EWTduejdwZGJ1c1dOOHpnK2NoaUxJUDNnMTI5M2hJR2dhTWxEWHpQVzRsYktlbktma1JkbG8KZUZvK01nN1pPMXovSDRPMWR4SHZLdy8rYVdXQWsvcXJPVmpKbEhqQmwySEpwWVQ0SnBrYVY1UzFyb1RiL2UvOQpxUnpwQlJGWUNRR3h2N2VUOTVVSndhODBKanB2Y0htemYxWmdySkYvMUZCTEtJUEZONE5Dd2Q3bTN6Y09XY2RKClcwbDBUaHNCQmRzKzdpRTdvMGJFQzdKNWtLdE1VbE1veEtPQ2VYRTkzQldyRlBnaWFXU3VJVmxISnMzc0N0eVoKaFNhWnQ4V0lMVWtPaWZ2NGJETkFVQ1gxUlZpc0tkQT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  rules:
  - operations: ["CREATE", "UPDATE"]
    apiGroups: [""]
    apiVersions: ["v1"]
    resources: ["persistentvolumeclaims"]
  admissionReviewVersions: ["v1beta1", "v1"]
  sideEffects: None
  failurePolicy: Fail